<h2>Here details for a given user</h2>

<h3>User 3</h3>
<h4>Number of post: 4</h4>

<h5>Bio</h5>
<section>
  <p>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis 
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</section>

<section>

  <h5>Post 1</h5>
  <article>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </article>

  <h5>Post 2</h5>
  <article>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </article>

  <h5>Post 3</h5>
  <article>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </article>

  <h5>Post 4</h5>
  <article>
    lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </article>
</section>

