<h2>Here is the post for given User</h2>

<section>
  <h3>User 3</h3>
  <p>Number of posts: 3</p>
</section>

<section>
  <h3>Post 1</h3>
  <p>This is the first post</p>
</section>

<section>
  <p><strong>User 1</strong> Comment 1</p>
  <p><strong>User 2</strong> Comment 2</p>
  <p><strong>User 3</strong> Comment 3</p>
  <p><strong>User 1</strong> Comment 4</p>
</section>
<section>
  <h3>Post 2</h3>
  <p>This is the second post</p>
</section>

<section>
  <p><strong>User 1</strong> Comment 1</p>
  <p><strong>User 2</strong> Comment 2</p>
  <p><strong>User 3</strong> Comment 3</p>
  <p><strong>User 1</strong> Comment 4</p>
</section>

<button>Pagination</button>