<h2>Here is the details of given post for a given user and its comments</h2>

<article>
  <h3>Post 1 by User 3</h3>
  <p>Comments:10, likes:2</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</article>

<article>
  <p><strong>User 1:</strong> Comment 1</p>
  <p><strong>User 3:</strong> Comment 2</p>
  <p><strong>User 4:</strong> Comment 3</p>
  <p><strong>User 2:</strong> Comment 4</p>
  <p><strong>User 1:</strong> Comment 5</p>
  <p><strong>User 5:</strong> Comment 6</p>
  <p><strong>User 6:</strong> Comment 7</p>
  <p><strong>User 2:</strong> Comment 8</p>
  <p><strong>User 4:</strong> Comment 9</p>
  <p><strong>User 2:</strong> Comment 10</p>
</article>
