* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.button,
button {
  cursor: pointer;
  padding: 10px;
  box-shadow: 5px 5px 2px #333;
  margin: 20px auto;
  border: 2px solid #333;
  border-radius: 15px;
  font-size: 1rem;
  width: auto;
}

a {
  display: flex;
  text-decoration: none;
  color: #333;
  width: 100%;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  margin: 10px;
  box-shadow: 3px 3px 10px #ccc;
  width: 80%;
}

.user > a {
  justify-content: flex-start;
}

.user-image {
  width: 100px;
  height: 100px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ccc;
  width: 300px;
  height: 100px;
  padding: 10px;
}

.user-info > p {
  text-align: right;
  width: 100%;
}

.bio {
  flex-direction: column;
  border: 1px solid #ccc;
  gap: 10px;
}

.posts {
  flex-direction: column;
}

.cmts-likes {
  width: 100%;
  text-align: right;
}

.det {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.post-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-details > h2 {
  text-align: left;
  width: 100%;
}
